{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    <div class="container">
        <div class="card">
            <h1>Login</h1>
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="input-group">
                    <label for="name">username</label>
                    <input type="text" id="name" name="username" required>
                </div>
                <div class="input-group">
                    <label for="password">password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary">Log in</button>
            </form>


            {% if messages %}
              {% for message in messages %}
                {% if messages.tags == 'error' %}
                  <center><h4 style="color: firebrick;">{{message}}</h4></center>
                {% else %}
                  <center><h4 style="color: dodgerblue;">{{message}}</h4></center>
                {% endif %}
              {% endfor %}
            {% endif %}


            <p class="switch-page" onclick="window.location.href='{%url 'signup' %}'">
              Don't have an account? 
              <a>Sign up</a>
            </p>
        </div>
    </div>
</body>
</html>


